/* ==========================================================================
  # Main application stylesheet
  ========================================================================== */
.travel-header {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  form {
    width: 100%;
    height: 124px;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  h1 {
    font-family: 'DM Serif Display', serif;
    color: #fff;
    font-size: 48px;
    margin: 0;
    margin-top: -16px;
    animation: typing 3.5s steps(30, end), blink-caret 0.8s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    display: inline-block;
    padding-right: 4px;
    user-select: none;
  }
}

.travel-text {
  background: url('../img/text.png') no-repeat center;
  background-size: contain;
  width: 500px;
  height: 300px;
}

.travel-planner {
  &__content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10vh;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 24px;
  }
}

.travel-bg {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: opacity 1s ease-in-out;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    z-index: 1;
    opacity: 0.4;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fade 24s infinite;
    transition: opacity 1s ease-in-out;

    &:nth-child(1) {
      animation-delay: 0s;
      background-image: url('../img/bg.jpg');
    }
    &:nth-child(2) {
      background-image: url('../img/bg1.jpg');
      animation-delay: 8s;
    }
    &:nth-child(3) {
      background-image: url('../img/bg2.jpg');
      animation-delay: 16s;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 54%; // PC mode
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.travel-result {
  // init hide
  display: none;
  width: 100%;
  min-height: 100vh;
  padding: 72px 20px;

  h2 {
    font-family: 'DM Serif Display', serif;
    margin: 0;
    font-size: 3rem;
    display: inline-block;
    line-height: 1;
    user-select: none;
    background-repeat: no-repeat;
    background-size: 120% 0.3em;
    background-position: 0 92%;
    background-image: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    padding: 0 12px;
    margin: 0 auto;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__trips {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .empty-planner {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon {
      width: 72px;
      height: 72px;
      background: url('../img/empty.png') no-repeat center;
      background-size: contain;
    }
    &__text {
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
      margin-top: 16px;
    }
  }
}

/* ==========================================================================
  #Loading
  ========================================================================== */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;

  &:after,
  &::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }

  &::after {
    animation-delay: 1s;
  }
}

#loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(1, 5, 26, 0.4);
  z-index: 10;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
