.travel-header {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  form {
    width: 100%;
    height: 124px;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  h1 {
    font-family: 'DM Serif Display', serif;
    color: #fff;
    font-size: 48px;
    margin: 0;
    margin-top: -16px;
    animation: typing 3.5s steps(30, end), blink-caret 0.8s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    display: inline-block;
    padding-right: 4px;
  }
}

.travel-text {
  background: url('../img/text.png') no-repeat center;
  background-size: contain;
  width: 500px;
  height: 300px;
}

.travel-planner {
  &__content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10vh;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 24px;
  }
}

.travel-bg {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: opacity 1s ease-in-out;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    z-index: 1;
    opacity: 0.4;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fade 24s infinite;
    transition: opacity 1s ease-in-out;

    &:nth-child(1) {
      animation-delay: 0s;
      background-image: url('../img/bg.jpg');
    }
    &:nth-child(2) {
      background-image: url('../img/bg1.jpg');
      animation-delay: 8s;
    }
    &:nth-child(3) {
      background-image: url('../img/bg2.jpg');
      animation-delay: 16s;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 54%; // PC mode
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
